{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/login.js') }}"></script>
{% endblock %}

{% block body %}
    <!-- content Area -->
    <section id="content" class="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            {{ include('default/_sidebar.html.twig') }}
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12">
                            
                            <div class="main-area">
                                <h1>Donations</h1>      
                                <p>N'hésitez pas à soutenir <b>Cineaste.org</b> et la refonte du serveur en faisant un petit don. Don qui de plus vous permettra de recevoir la newsletter plus tôt, et avec liens et sommaire cliquables.</p>      
                                <p><span>Rappel:</span>cineaste.org est une association à but non lucratif régie par la loi 1901.<br>Nous avons réuni la somme nécessaire pour lancer les travaux. Mais comme faire tourner un serveur coûte de l'argent, nous continuons à demander votre aide.</p>        
                                <p>Envoyez nous ce que vous souhaitez, la plupart des lecteurs donateurs envoient entre 5 et 30 euros, la plupart des professionnels utilisant nos services régulièrement donnent entre 50 et 200 euros et reçoivent un reçu pour leur compta.</p>      
                                <p>Envoyez votre don par Paypal à <a href="mailto: contact@cineaste.org"> contact@cineaste.org</a> ou en <a href="#">cliquant ici.</a></p>      
                                <p>ou par un chèque à:
                                    <span>Association cineaste.org</span>
                                    <span>62 rue Planchat</span>
                                    <span>75020 Paris</span>
                                </p>
                                <p>MERCI A TOUS !</p>       
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<!--/ End content Area -->
{% endblock %}
