{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/login.js') }}"></script>
{% endblock %}

{% block body %}
    <!-- content Area -->
    <section id="content" class="content ragistration">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <!--<div class="contact">
                                <h4>Navigation</h4> 
                            </div>-->
                           {{ include('default/_sidebar.html.twig') }}
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12">
                        {% if otherError %}
                            <div class="alert alert-danger">
                            {% for error in otherError %}
                            
                                {{ error }} <br>
                            
                            {% endfor %}
                            </div>
                        {% endif %}
                            <div class="main-area">
                                <h1>Modifier l'utilisateur</h1>        
                                
                            </div>
                            <div class="regi-form">
                                <form action="{{ path('update_user') }}" method="post">
                                <input id="user_id" name="_id" value="{{(single_user.id) ?? single_user.id ?? ''}}" type="hidden" >
                                    <div class="form-group">
                                        <p><b>Nom de connexion:</b></p>
                                        {{(single_user.username) ?? single_user.username ?? ''}}
                                    </div>
                                    <div class="form-group">
                                        <p><b>Adresse de courriel:</b> </p>
                                        {{(single_user.email) ?? single_user.email ?? ''}}
                                    </div>
                                    
                                    <div class="form-group">
                                        <p><b>Rôle:</b> </p>
                                        {{(single_user.roles[0]) ?? single_user.roles[0] ?? ''}}
                                    </div>

                                    <h6 class="mini-heading">Perso</h6>
                                    <div class="form-group">
                                        <p>Prénom:<span>*</span></p>
                                        <input name="_first_name"  id="firstname" value="{{(single_user.firstName) ?? single_user.firstName ?? ''}}" type="text" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <p>Nom: <span>*</span></p>
                                        <input name="_full_name"  id="fullame" value="{{(single_user.fullName) ?? single_user.fullName ?? ''}}" type="text">
                                    </div>

                                    <div class="form-group">
                                        <p>Password:</p>
                                        <input name="_password"  id="pass"  type="text" value="">
                                    </div>

                                    <h6 class="mini-heading">Pro</h6>
                                    <div class="form-group">
                                        <p>Profession:</p>
                                        <input name="_profession"  id="profession" value="{{(single_user.profession) ?? single_user.profession ?? ''}}" type="text" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <p>Département:</p>
                                        <input name="_department"  id="department" value="{{(single_user.department) ?? single_user.department ?? ''}}" type="text" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <p>Société/Association:</p>
                                        <input name="_company"  id="company" value="{{(single_user.company) ?? single_user.company ?? ''}}" type="text" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <p>Site web:</p>
                                        <input name="_site_url"  id="site_url" value="{{(single_user.siteUrl) ?? single_user.siteUrl ?? ''}}" type="text" placeholder="">
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" id="user_form_btn" class="btn">S'inscrire</button>
                                    </div>
                                    
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End content Area -->
{% endblock %}
