{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/login.js') }}"></script>
{% endblock %}

{% block body %}
    <!-- content Area -->
    <section id="content" class="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            {{ include('default/_sidebar.html.twig') }}
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12">
                            <div class="main-area">
                                <h1>Bienvenue sur Cineaste.org</h1>		
                                <p><strong>Rejoignez la plus grande communauté de professionnels du cinéma et de l'audiovisuel en ligne. </strong> Créé en 2002 par un groupe de jeunes professionnels du cinéma désireux de partager leurs connaissances et de développer leur réseau professionnel, cineaste.org est depuis devenu incontournable. Que vous soyez à la recherche d'un acteur, d'un technicien, ou d'une technique pour filmer un trucage audacieux, vous trouverez certainement votre bonheur grâce aux <strong>115000 lecteurs</strong> de cineaste.org. Inscrivez vous gratuitement pour recevoir nos newsletters par email. Chaque édition regroupe toutes les petites annonces déposées par les membres de cineaste.org. Elle paraît trois fois par semaine, les lundi, mercredi et vendredi. Cineaste.org est mis à votre disposition gratuitement. Cineaste.org est fait bénévolement par des cinéastes pour les cinéastes. A tout de suite ! L'équipe de cineaste.org</p>	
                                <p>Attention, pour déposer une annonce sur le nouveau cineaste.org vous devez désormais vous connecter ! - Si vous êtes déjà abonné à cineaste.org, un compte à été normalement créé automatiquement pour vous. Il vous suffit de définir votre mot de passe : demandez le en utilisant le lien "Nouveau mot de passe", et suivez les instructions ! - Si vous n'est pas abonné, c'est simple, inscrivez-vous !</p>		
                            </div>
                            <div class="main-area2">
                                <div class="area2-content">
                                    <h3>Quelques annonces parues dans notre dernière lettre</h3>
                                    <ul type="square">
                                        <li>Figuration Travailleurs forcés en 1942</li>
                                        <li>Bureau de prod (ou autre) à louer - bail à céder ou en temporaire</li>
                                        <li>Je Suis une Affaire de Famille</li>
                                        <li>Recherche de stage</li>
                                        <li>Pack Black Magic Cinema Camera 2.5K + Samyang 14mm T3.1 Cine</li>
                                        <li>Stage 2 L’Approche d’une Scène selon les méthodes de l’Actors Studio</li>
                                        <li>Figuration Soldats Allemands Mi décembre</li>
                                        <li>SCRIPT.E pour projet de grande qualité</li>
                                        <li>Recherche d'un couple d'acteur ou d'acteurs homme et femme</li>
                                        <li>HOMME SACHANT UTILISER UNE DISQUEUSE</li></ul>										
                                </div>
                                <div class="image">
                                    <img src="{{ asset('build/images/pas-inscrit.png')}} " alt="#">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<!--/ End content Area -->
{% endblock %}
