{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/login.js') }}"></script>
{% endblock %}

{% block body %}
    <!-- content Area -->
    <section id="content" class="content ragistration">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            <!--<div class="contact">
                                <h4>Navigation</h4> 
                            </div>-->
                           {{ include('default/_sidebar.html.twig') }}
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12">
                        {% if otherError %}
                            <div class="alert alert-danger">
                            {% for error in otherError %}
                            
                                {{ error }} <br>
                            
                            {% endfor %}
                            </div>
                        {% endif %}
                            <div class="main-area">
                                <h1>Inscription</h1>        
                                <p>La création d'un compte sur Cineaste.org déclenche automatiquement votre inscription sur la liste de diffusion des petites annonces.</p>     
                            </div>
                            <div class="regi-form">
                                <form action="{{ path('user_registration') }}" method="post">
                                    <div class="form-group">
                                        <p>Nom de connexion: <span>*</span></p>
                                        <input id="username" name="_username" value="" type="text" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <p>Adresse de courriel : <span>*</span></p>
                                        <input name="_email" id="email" type="email" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <p>Confirmez l'adresse de courriel: <span>*</span></p>
                                        <input name="_cemail"  id="cemail" type="cemail" placeholder="">
                                    </div>

                                    <h6 class="mini-heading">Perso</h6>
                                    <div class="form-group">
                                        <p>Prénom:<span>*</span></p>
                                        <input name="_first_name"  id="first_name" type="text" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <p>Nom: <span>*</span></p>
                                        <input name="_full_name"  id="full_name" type="text" placeholder="">
                                    </div>
                                    <h6 class="mini-heading">Pro</h6>
                                    <div class="form-group">
                                        <p>Profession:</p>
                                        <input name="_profession"  id="profession" type="text" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <p>Département:</p>
                                        <input name="_department"  id="department" type="text" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <p>Société/Association:</p>
                                        <input name="_company"  id="company" type="text" placeholder="">
                                    </div>
                                    <div class="form-group">
                                        <p>Site web:</p>
                                        <input name="_site_url"  id="site_url" type="text" placeholder="">
                                    </div>
                                    <h6 class="mini-heading">CAPTCHA <span>Question anti-spam</span></h6>
                                    <div class="capcha">
                                        <img src=" {{ asset('build/images/captcha.jpg')}} " alt="#">
                                        <p>Qu'est-il écrit dans cette image ? : <span>*</span></p>
                                        <input name="_captcha"  id="captcha" type="captcha" placeholder="">
                                    </div>
                                    <div class="button">
                                        <button type="submit" id="regi_form_btn" class="btn">S'inscrire</button>
                                    </div>
                                    <p class="by">En vous inscrivant à CINEASTE.ORG, vous devenez de fait membre de l'association CINEASTE.ORG et acceptez le règlement intérieur.</p>
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End content Area -->
{% endblock %}
