/* =====================================
	Develop By: Naimur Rahman
	For Contact
	E-mail: nthemer55@gmail.com
========================================*/
/* Tablet Screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
/* Header Sticky */


.content .contact {
	text-align: left;
	margin-top: 12px;
	margin-left:0px;
}
.content .contact .button .btn {
	background: #c9c9c9;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	padding: 0px 15px;
	float: left;
	margin-right: 0;
}
}
/* Mobile Screen */
@media only screen and (max-width: 767px) {
.slicknav_menu{
	display:block;
}
.slicknav_menu {
	display: block;
	background: transparent;
	padding: 0;
}
.slicknav_btn {
	background: transparent;
	margin: 26px 8px 0 0;
	padding: 0;
}
.slicknav_menu .slicknav_icon-bar{
	box-shadow:none;
}
.slicknav_nav {
	clear: both;
	color: #fff;
	margin: 0;
	font-size: .875em;
	background: transparent;
}
.slicknav_nav li a{
	color:#424646;
	transition:all 0.4s ease;
	background:#ededed;
}
.slicknav_nav li:hover a{
	background:#9A7D6D;
	color:#fff;
}
.slicknav_nav li .dropdown li a{
	color:#555;
	background:transparent;
}
.slicknav_nav li .dropdown li a:hover{
	color:#9A7D6D;
}
.slicknav_nav li .slicknav_item{
	background:transparent;
}
.slicknav_nav .slicknav_row, .slicknav_nav a {
	padding: 0;
	margin: 0;
	padding: 6px 10px;
	font-weight: 500;
}
.slicknav_menu .slicknav_icon-bar {
	background-color: #9A7D6D;
	box-shadow: none;
	text-shadow: none;
}
.slicknav_nav .slicknav_arrow{
	color:#9A7D6D;
}
.slicknav_menu .slicknav_icon-bar {
	display: block;
	width: 25px;
	height: 3px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.25);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,.25);
	box-shadow: 0 1px 0 rgba(0,0,0,.25);
}
.site-header{
	padding-bottom:0px;
}
.site-header .main-menu,
.site-header.style2 .main-menu,
.site-header .header-widget,
.slicknav_item i,
.testimonial-image,
.hero-area.style2 .trip-search,
.site-header.style2 .search-form,
.site-header.style3 .button,
.site-header.style3 .contact,
.hero-area.style2 .trip-search{
	display:none 
}
.content .contact {
	text-align: left;
	margin-top: 12px;
	margin-left:0px;
}
.content .contact .button .btn {
	background: #c9c9c9;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	padding: 0px 15px;
	float: left;
	margin-right: 0;
}
.content .contact {
	text-align: center;
}
.content .contact .button .btn {
	float: none;
}
.content .main-area {
	margin-top: 20px;
}
.footer .copyright {
	text-align: center;
}
.footer .left{
	float:none;
}
.footer .right{
	float:none;
}
.content .contact .form-group input {
	width: 100%;
	margin-top: 8px;
}
.content .contact .button .btn {
	padding: 3px 42px;
}
.donation .contact .button .btn {
	padding: 3px 42px;
}
.contact .contact .button .btn {
	padding: 3px 42px;
}
.content .main-area2 .image {
	display:none;
}
.content .main-area2 .area2-content {
	padding-right: 0px;
}
.ragistration .regi-form .form-group input {
	width: 100%;
	height: 40px;
	border: 1px solid #ddd;
	background: #eee;
	color: #000;
	font-weight: 400;
	padding: 10px;
}
.ragistration .regi-form .capcha input {
	width: 100%;
}
.ragistration .regi-form .button .btn {
	background: #c9c9c9;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	padding: 0px 15px;
	margin-top: 10px;
}
}
/* Mobile Screen */
@media only screen and (max-width: 450px) {
.slicknav_menu{
	display:block;
}
.slicknav_menu {
	display: block;
	background: transparent;
	padding: 0;
}
.slicknav_btn {
	background: transparent;
	margin: 26px 8px 0 0;
	padding: 0;
}
.slicknav_menu .slicknav_icon-bar{
	box-shadow:none;
}
.slicknav_nav {
	clear: both;
	color: #fff;
	margin: 0;
	font-size: .875em;
	background: transparent;
}
.slicknav_nav li a{
	color:#424646;
	transition:all 0.4s ease;
	background:#ededed;
}
.slicknav_nav li:hover a{
	background:#9A7D6D;
	color:#fff;
}
.slicknav_nav li .dropdown li a{
	color:#555;
	background:transparent;
}
.slicknav_nav li .dropdown li a:hover{
	color:#9A7D6D;
}
.slicknav_nav li .slicknav_item{
	background:transparent;
}
.slicknav_nav .slicknav_row, .slicknav_nav a {
	padding: 0;
	margin: 0;
	padding: 6px 10px;
	font-weight: 500;
}
.slicknav_menu .slicknav_icon-bar {
	background-color: #FF6600;
	box-shadow: none;
	text-shadow: none;
}
.slicknav_nav .slicknav_arrow{
	color:#9A7D6D;
}
.slicknav_menu .slicknav_icon-bar {
	display: block;
	width: 25px;
	height: 3px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.25);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,.25);
	box-shadow: 0 1px 0 rgba(0,0,0,.25);
}
.site-header{
	padding-bottom:0px;
}
.site-header .main-menu,
.site-header.style2 .main-menu,
.site-header .header-widget,
.slicknav_item i,
.testimonial-image,
.hero-area.style2 .trip-search,
.site-header.style2 .search-form,
.site-header.style3 .button,
.site-header.style3 .contact,
.hero-area.style2 .trip-search{
	display:none 
}
.content .contact {
	text-align: left;
	margin-top: 12px;
	margin-left:0px;
}
.content .contact .button .btn {
	background: #c9c9c9;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	padding: 0px 15px;
	float: left;
	margin-right: 0;
}
.content .contact {
	text-align: center;
}
.content .contact .button .btn {
	float: none;
}
.content .main-area {
	margin-top: 20px;
}
.footer .copyright {
	text-align: center;
}
.footer .left{
	float:none;
}
.footer .right{
	float:none;
}
}