{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/login.js') }}"></script>
{% endblock %}

{% block body %}
    <!-- content Area -->
    <section id="content" class="content ragistration contact">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            {{ include('default/_sidebar.html.twig') }}
                        </div>
                            <div class="col-lg-9 col-md-9 col-sm-12">

                            {% if otherError %}
                                <div class="alert alert-danger">
                                {% for error in otherError %}
                                
                                    {{ error }} <br>
                                
                                {% endfor %}
                                </div>
                             {% endif %}
                             
                                    <div class="main-area">
                                        <h1>Mise à jour de la région</h1>        
                                    </div>
                                    <div class="regi-form">
                                    <form action="{{ path('update_region') }}" method="post">
                                        <div class="form-group">
                                        <p>Titre: <span>*</span></p>
                                        <input id="name" name="_name" value="{{(single_region.name) ?? single_region.name ?? ''}}" type="text" placeholder="">
                                    </div>
                                    <input id="reg_id" name="_id" value="{{(single_region.id) ?? single_region.id ?? ''}}" type="hidden" >
                                    <div class="form-group">
                                        <button type="submit" class="btn">{{ 'action.save'|trans }}</button>
                                    </div>
                                    
                                    </form> 
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End content Area -->
{% endblock %}
