<footer class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="left">
                        <div class="copyright">
                            <ul>
                                <li>Director:</li>
                                <li><a href="#">Eric Mesnage</a></li>
                                <li>& </li>
                                <li><a href="#">Alveoo</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="right">
                        <div class="copyright">
                            <ul>
                                <li><a href="{{ path('homepage') }}">Legal Notice </a></li>
                                <li>Copyright @ {{ 'now'|date('Y') }} Cineaste.org</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
                            
{#<footer>
<div class="container">
    <div class="row">
        <div id="footer-copyright" class="col-md-6">
            <p>&copy; {{ 'now'|date('Y') }} - The Symfony Project</p>
            <p>{{ 'mit_license'|trans }}</p>
        </div>
        <div id="footer-resources" class="col-md-6">
            <p>
                <a href="https://twitter.com/symfony" title="Symfony Twitter">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://www.facebook.com/SensioLabs" title="SensioLabs Facebook">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://symfony.com/blog/" title="Symfony Blog">
                    <i class="fa fa-rss" aria-hidden="true"></i>
                </a>
            </p>
        </div>
    </div>
</div>
</footer>#}                            