<header id="site-header" class="site-header ">  
    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">
                    <div class="logo"> <a href="{{ path('home_index') }}"><img src="{{ asset('build/images/logo.png') }}" alt="logo"></a> </div>
                    <div class="mobile-nav"></div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="main-menu">
                        <nav class="navigation">
                            <ul class="nav menu">
                                <li class="active"><a href="{{ path('home_index') }}">Accueil</a></li>                                
                                {% if app.user %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                    {% else %} 
                                    <li><a href="{{ path('placeads') }}">Déposer une annonce</a></li>
                                    {% endif %} 
                                {% else %}    
                                    <li><a href="{{ path('registration_index') }}">Inscription</a></li>
                                {% endif %}  
                                <li><a href="{{ path('donation_index') }}">Dons</a></li>
                                <li><a href="{{ path('contact_index') }}">Contact</a></li>                                
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
                                
                                
                                
{#<header>
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header col-md-3 col-lg-2">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                Symfony Demo
            </a>

            <button type="button" class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">{{ 'menu.toggle_nav'|trans }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                {% block header_navigation_links %}
                    <li>
                        <a href="{{ path('blog_index') }}">
                            <i class="fa fa-home" aria-hidden="true"></i> {{ 'menu.homepage'|trans }}
                        </a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('admin_post_index') }}">
                                <i class="fa fa-lock" aria-hidden="true"></i> {{ 'menu.admin'|trans }}
                            </a>
                        </li>
                    {% endif %}
                {% endblock %}

                <li>
                    <a href="{{ path('blog_search') }}"> <i class="fa fa-search"></i> {{ 'menu.search'|trans }}</a>
                </li>

                {% if app.user %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="user">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="caret"></span>
                            <span class="sr-only">{{ app.user.fullname }}</span>
                        </a>
                        <ul class="dropdown-menu user" role="menu" aria-labelledby="user">
                            <li>
                                <a href="{{ path('user_edit') }}">
                                    <i class="fa fa-edit" aria-hidden="true"></i> {{ 'menu.user'|trans }}
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ path('security_logout') }}">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }}
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="locales">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <span class="caret"></span>
                        <span class="sr-only">{{ 'menu.choose_language'|trans }}</span>
                    </a>
                    <ul class="dropdown-menu locales" role="menu" aria-labelledby="locales">
                        {% for locale in locales() %}
                            <li {% if app.request.locale == locale.code %}aria-checked="true" class="active"{% else %}aria-checked="false"{% endif %} role="menuitem"><a href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">{{ locale.name|capitalize }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
</header>#}                                