{% if app.user %}
    <div class="contact">    
         <h4>Navigation</h4> 
        <ul class="myaccount">
        <li><b>{{ app.user.fullname }}</b></li>        
        {% if is_granted('ROLE_ADMIN') %}
        <li>
            <a href="{{ path('category_list') }}"><i class="fa fa fa-list-alt" aria-hidden="true"></i> {{ 'Catégories' }} </a>
        </li>
        {% endif %}
        {% if is_granted('ROLE_USER') %}
        <li>
            <a href="{{ path('ad_list') }}"><i class="fa fa fa-list-alt" aria-hidden="true"></i> {{'Les publicités'}}</a>
        </li>
        <li><a href="{{ path('users_list') }}"><i class="fa fa fa-list-alt" aria-hidden="true"></i> {{'liste d\'utilisateur'}}</a>
        </li>
        <li><a href="{{ path('regions_list') }}"><i class="fa fa fa-list-alt" aria-hidden="true"></i> {{'Les régions'}}</a>
        </li>
        {% endif %}
        <li> <a href="{{ path('user_edit') }}"><i class="fa fa-edit" aria-hidden="true"></i> {{ 'menu.user'|trans }} </a> </li>        
        <li><a href="{{ path('security_logout') }}"> <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }} </a> </li>
        </ul>
    </div>
{% else %}    
    
<div class="contact">
    {% if error %}
    <div class="alert alert-danger">
         {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
    {% endif %}
    <h4>Connectez-Vous !</h4>
    <form action="{{ path('security_login') }}" method="post">
        <div class="form-group">
            <p>Nom d'utilisateur ou  <br> adresse de courriel : <span>*</span></p>
            <input id="username" name="_username" value="{{ last_username }}" type="text" placeholder="">
        </div>
        <div class="form-group">
            <p>Mot de passe : <span>*</span></p>
            <input type="password" id="password" name="_password" placeholder="">
        </div>
        <a href="#" class="more"><i>Mot de passe oublié ?</i></a>
        <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
        <div class="button">
            <button type="submit" class="btn">{{ 'action.sign_in'|trans }}</button>
        </div>
    </form>

</div>
    
{% endif %}    
