/* =====================================
	Develop By: Naimur Rahman
	For Contact
	E-mail: nthemer55@gmail.com
========================================*/
/*======================================
[ All Page CSS ]
01. Home page CSS
02. Registration page CSS
03. Donations page CSS
04. Contact page CSS

========================================*/

/*======================================
 01. Home Page CSS
========================================*/
/* Header */
.site-header {
	background:#fff;
}
/* Logo */
.site-header .logo{
	float:left;
	padding-top:25px;
}
/* Main Menu */
.site-header .header-bottom {
	background: #fff;
	border-top:35px solid #46474B;
}
.site-header .main-menu {
	z-index: 99;
	text-align: center;
}
.site-header .navigation {
	display:inline-block;
	float: right;
}
.site-header .nav li {
	position: relative;
	padding: 80px 25px 25px 25px;
	
	border-left: 1px solid #dadada;
}
.site-header .nav li:last-child{
	padding-right:0px;
	margin-right:0px;
}
.site-header .nav li.active a{
	color:#9A7D6D;
}
.site-header .nav li a {
	color: #8d8d8d;
	font-size: 14px;
	/*text-transform: uppercase;*/
	display: inline-block;
	font-weight: 400;
	position: relative;
}
.site-header .nav li a:hover{
	color:#9A7D6D;
}
/* Header Sticky */
.site-header.sticky{
	display:none;
}
/* Content Sticky */
.content{
	padding:50px 0px;
	background:#fff;
}
.content .contact {
	text-align: left;
	margin-top: 100px;
	margin-left: 100px;
}
.content .contact h4 {
	font-family: 'Oswald', sans-serif;
	color: #9A7D6D;
	font-size: 22px;
	margin-bottom: 15px;
}
.content .contact .form{}
.content .contact .form-group{}
.content .contact .form-group p{
	color:#333;
}
.content .contact .form-group p span{
	display:inline-block;
	color:red;
}
.content .contact .form-group input{
	width: 150px;
	height:40px;
	border:1px solid #ddd;
	background:#eee;
	color:#000;
	font-weight:400;
	padding:10px;
}
.content .contact .more{
	font-weight:300;
	color:#9A7D6D;
	
}
.content .contact .more:hover{
	text-decoration:underline;
}
.content .contact .button {
	margin-top: 12px;
}
.content .contact .button .btn {
	background: #c9c9c9;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	padding: 0px 15px;
	float: right;
	margin-right: 13px;
}
.content .contact .button .btn:hover{
	background:#a4a4a4;
}
.content .main-area{}
.content .main-area h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 46px;
	font-weight: 500;
}
.content .main-area p{
	margin-top: 25px;
}
.content .main-area2{
	background:#EAEAEA;
	padding:20px;
	position:relative;
	margin-top:20px;
}
.content .main-area2 .area2-content{
	padding-right:160px;
}
.content .main-area2 .area2-content h3{
	font-family: 'Oswald', sans-serif;
}
.content .main-area2 .area2-content ul {
	padding-left: 15px;
	margin-top: 10px;
}
.content .main-area2 .area2-content ul li{
	color:#111;
}
.content .main-area2 .image {
	position: absolute;
	right: 40px;
	top: 102px;
}
/*======================================
   End Home Page CSS
========================================*/  

/*======================================
   02 Registration CSS
========================================*/
.ragistration .regi-form {
	margin-top: 15px;
}
.ragistration .regi-form .form{}
.ragistration .regi-form .form-group{}
.ragistration .regi-form .form-group p {
	color: #333;
	padding-bottom: 4px;
}
.ragistration .regi-form .form-group p span{
	display:inline-block;
	color:red;
}
.ragistration .regi-form .form-group input{
	width: 500px;
	height:40px;
	border:1px solid #ddd;
	background:#eee;
	color:#000;
	font-weight:400;
	padding:10px;
}
.ragistration .regi-form .mini-heading {
	font-size: 15px;
	font-weight: 500;
	margin: 25px 0px;
}
.ragistration .regi-form .mini-heading span{
	display:block;
	font-size:13px;
	font-weight:400;
	color:#666;
	margin-top:5px;
}
.ragistration .regi-form .capcha{}
.ragistration .regi-form .capcha img{
	display:block;
	margin-bottom:15px;
}
.ragistration .regi-form .capcha p{
	display:inline-block;
	margin-right:5px;
}
.ragistration .regi-form .capcha p span{
	display:inline-block;
	color:red;
}
.ragistration .regi-form .capcha input{
	display:inline-block;
	width: 150px;
	height:40px;
	border:1px solid #ddd;
	background:#eee;
	color:#000;
	font-weight:400;
	padding:10px;
}
.ragistration .regi-form .button .btn{
	background: #c9c9c9;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	padding: 0px 15px;
}
.ragistration .regi-form .button .btn:hover{
	background:#a4a4a4;
}
.ragistration .regi-form .by{
	margin-top:15px;
}
/*======================================
  /End Ragistration CSS
 ========================================*/
 
/*======================================
  03 Donations Page CSS
 ========================================*/
.donations .main-area p span{
	display:block;
	color:#111;
	font-weight:500;
	font-size:15px;
}
.donations .main-area p span{}
.donations .main-area p a{
	font-weight:400;
	color:#9A7D6D;
}
.donations .main-area p a:hover{
	text-decoration:underline;
}
/*======================================
  /End Donations Page CSS
 ========================================*/

/*======================================
  04 Contact Page CSS
 ========================================*/
.contact{}
.contact .regi-form{}
.contact .regi-form .form-group{}
.contact .regi-form .form-group textarea{
	width: 100%;
	height:200px;
	border:1px solid #ddd;
	background:#eee;
	color:#000;
	font-weight:400;
	padding:10px;
}
/*======================================
  /End Contact Page CSS
 ========================================*/


/*======================================
  22. Footer CSS
 ========================================*/
.footer .footer-bottom{
	overflow:hidden;
	background:#E7E7E7;
	padding:30px 0px;
}
.footer .copyright ul li{
	display:inline-block;
	list-style:none;
	color:#777;
	margin-right:5px;
	font-weight:400;
}
.footer .copyright ul li:last-child{
	margin-right:0px;
}
.footer .copyright ul li a{
	font-weight:400;
	color:#777;
}
.footer .copyright ul li a:hover{
	color:#111;
}
.footer .left{
	float:left;
}
.footer .right{
	float:right;
}
/*======================================
  End Footer CSS
 ========================================*/
 