{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/login.js') }}"></script>
    <script>
    $(document).ready(function() {
    $('#ads_tbl').DataTable({
        "order": [[ 3, "desc" ]]
    } );
    } );
    </script>
{% endblock %}

{% block body %}
    <!-- content Area -->
    <section id="content" class="content ragistration contact">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            {{ include('default/_sidebar.html.twig') }}
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12">

                                <table id="ads_tbl" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                    <th>{{ 'label.id'|trans }}</th>
                                    <th>{{ 'label.title'|trans }}</th>
                                    <th>{{ 'label.published_at'|trans }}</th>
                                    <th>{{ 'label.actions'|trans }}</th>
                                   
                                    </tr>
                                </thead>
                                <tbody>
                                {% for ad in ads %}
                                <tr>
                                <td>{{ ad.id }}</td>
                                <td>{{ ad.title }}</td>
                                {# it's not mandatory to set the timezone in localizeddate(). This is done to
                                avoid errors when the 'intl' PHP extension is not available and the application
                                is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
                                <td>{{ ad.publishedAt|localizeddate('medium', 'short', null, 'UTC') }}</td>
                                <td class="text-right">
                                <div class="item-actions">
                                <a href="{{ path('ad_show', {id: ad.id}) }}" class="btn btn-sm btn-default">
                                <i class="fa fa-eye" aria-hidden="true" title="{{ 'Vue'}}"></i>
                                </a>

                                {% if is_granted('ROLE_ADMIN') %}
                                    {% if (ad.status == '2') %}
                                    <a href="{{ path('change_status', {id:ad.id, status:'1'}) }}" class="btn btn-sm btn-default">
                                         <i class="fa fa-thumbs-down" style="color:white" aria-hidden="true" title="{{'Désactiver'}}"></i>  </a>
                                    {% else %}
                                    <a href="{{ path('change_status', {id:ad.id, status:'2'}) }}" class="btn btn-sm btn-default">
                                         <i class="fa fa-thumbs-up" style="color:white" aria-hidden="true" title="{{ 'actif'}}"></i>  </a>
                                     {% endif %}
                                   
                                {% endif %}

                                </div>
                                </td>
                                </tr>
                                {% else %}
                                <tr>
                                <td colspan="4" align="center">{{ 'Aucune donnée disponible' }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                       
                                <tfoot>
                                <tr>
                                    <th>{{ 'label.title'|trans }}</th>
                                    <th>{{ 'label.published_at'|trans }}</th>
                                    <th>{{ 'label.actions'|trans }}</th>
                                </tr>
                                </tfoot>
                            </table>         
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End content Area -->

{% endblock %}

    


