{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/login.js') }}"></script>
{% endblock %}

{% block body %}
    <!-- content Area -->
    <section id="content" class="content ragistration contact">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            {{ include('default/_sidebar.html.twig') }}
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12">
                            <h1>{{ single_ad.title }}</h1>

                            <p class="post-metadata">
                            <span class="metadata"><i class="fa fa-calendar"></i> {{ single_ad.publishedAt|localizeddate('long', 'medium', null, 'UTC') }}</span>
                            <span class="metadata"><i class="fa fa-user"></i> {{ single_ad.author.fullName }}</span>
                            </p>


                            {{ single_ad.content|md2html }}

                                        
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End content Area -->
{% endblock %}

    


