{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/login.js') }}"></script>
{% endblock %}

{% block body %}
    <!-- content Area -->
    <section id="content" class="content ragistration contact">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            {{ include('default/_sidebar.html.twig') }}
                        </div>
                            <div class="col-lg-9 col-md-9 col-sm-12">

                            {% if otherError %}
                                <div class="alert alert-danger">
                                {% for error in otherError %}
                                
                                    {{ error }} <br>
                                
                                {% endfor %}
                                </div>
                             {% endif %}
                             
                                    <div class="main-area">
                                        <h1>Contact</h1>        
                                    </div>
                                    <div class="regi-form">
                                    <form action="{{ path('save_contact') }}" method="post">
                                        <div class="form-group">
                                            <p>Votre nom:<span>*</span></p>
                                            <input name="_full_name"  id="full_name" type="text" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <p>Votre adresse de courriel : <span>*</span></p>
                                            <input name="_email" id="email" type="email" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <p>Sujet: <span>*</span></p>
                                            <input name="_subject" id="subject" type="subject" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <p>Message : <span>*</span></p>
                                            <textarea name="_message" id="message" type="message" placeholder="type your message"></textarea>
                                        </div>
                                        <h6 class="mini-heading">CAPTCHA <span>Question anti-spam</span></h6>
                                        <div class="capcha">
                                            <img src=" {{ asset('build/images/captcha.jpg')}} " alt="#">
                                            <p>Qu'est-il écrit dans cette image ? : <span>*</span></p>
                                            <input name="_captcha"  id="captcha" type="captcha" placeholder="">
                                        </div>
                                        <div class="button">
                                            <button type="submit" id="contact_form_btn" class="btn">register</button>
                                        </div>
                                        <p class="by">By registering with CINEASTE.ORG, you become a member of the association CINEASTE.ORG and accept the rules of procedure.</p>
                                    </form> 
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<!--/ End content Area -->
{% endblock %}
