{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See https://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Cineaste.org{% endblock %}</title>
        <link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">
        {% block stylesheets %}
        {#
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
        #}
        
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">        
        <link rel="stylesheet" href="{{ asset('build/css/bootstrap.css') }}">
        {#<link rel="stylesheet" href="{{ asset('build/css/datepicker.css') }}">#}
        <link rel="stylesheet" href="{{ asset('build/css/jquery-ui.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/jquery.fancybox.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/slicknav.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/responsive.css') }}">
        
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
        
        {% endblock %}

        <!--<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />-->
        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}">
    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
            {{ include('default/_header.html.twig') }}            
        {% endblock %}

        <div class="container body-container">
            {% block body %}
                <div class="row">
                    <div id="main" class="col-sm-9">
                        {{ include('default/_flash_messages.html.twig') }}

                        {% block main %}{% endblock %}
                    </div>

                    <div id="sidebar" class="col-sm-3">
                        {% block sidebar %}
                            {{ render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction', {
                                'template': 'blog/about.html.twig',
                                'sharedAge': 600,
                                '_locale': app.request.locale
                            })) }}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>

        {% block footer %}
            {{ include('default/_footer.html.twig') }}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/manifest.js') }}"></script>
            <script src="{{ asset('build/js/common.js') }}"></script>
            <script src="{{ asset('build/js/app.js') }}"></script>
            
            <!-- Jquery -->
            <script src="{{ asset('build/js/jquery.min.js') }}"></script>
            {#<script src="{{ asset('build/js/jquery-migrate-3.0.0.js') }}"></script>#}
            <script src="{{ asset('build/js/jquery-ui.min.js') }}"></script>
            <!-- Popper JS -->
            {#<script src="{{ asset('build/js/popper.min.js') }}"></script>#}
            <!-- Bootstrap JS -->
            {#<script src="{{ asset('build/js/bootstrap.min.js') }}"></script>#}
            <!-- Bootstrap Datepicker JS -->
            {#<script src="{{ asset('build/js/bootstrap-datepicker.js') }}"></script>#}
            <!-- Slicknav JS -->
            <script src="{{ asset('build/js/slicknav.min.js') }}"></script>
            <!-- Easing JS -->
            <script src="{{ asset('build/js/easing.js') }}"></script>
            <script src="{{ asset('build/js/active.js') }}"></script>
            <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
            <script src="//cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
            
        {% endblock %}

        {# it's not mandatory to set the timezone in localizeddate(). This is done to
           avoid errors when the 'intl' PHP extension is not available and the application
           is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
        <!-- Page rendered on {{ 'now'|localizeddate('long', 'long', null, 'UTC') }} -->
    </body>
</html>